<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top ">
    <div class="container">
        <a class="navbar-brand" href="/">SUN 21</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Utama</a>
                    <a class="nav-link" href="/whyUs">Kenapa Kami?</a>
                    <a class="nav-link" href="/AboutUs">Tentang Kami</a>
                    <a class="nav-link" href="/product">Produk</a>
                    <a class="nav-link" href="/contact">Kontak</a>
                </div>
            </div>
        </div>
    </div>
</nav>