<% layout('layouts/boilerplate') %>
    <div style=" padding: 100px; ">
        <h1 class="text-center" style="font-size: 60px ;">Tentang Kami</h1>
    </div>
    <div class="row p-4">
        <div class="col-4"><img
                src="https://images.pexels.com/photos/247763/pexels-photo-247763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="asd" style="width: 100%;"></div>
        <div class="col-8">
            <h2 class="text-primary">Latar Belakang
            </h2>
            <p style="text-align: justify ;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo numquam
                nulla reiciendis voluptatum
                error consectetur perspiciatis esse, modi voluptas dignissimos sapiente recusandae iure assumenda sed
                enim doloremque! Repudiandae, cumque illum! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto a accusantium blanditiis quas magni exercitationem asperiores minus, ipsa cumque reprehenderit
                impedit recusandae modi eaque itaque culpa veniam error. Ex, qui? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maxime iusto deserunt dolores nemo in facere aliquid dignissimos vero suscipit
                commodi, laborum, temporibus, expedita exercitationem perspiciatis delectus ipsa. Omnis, et illum.</p>
        </div>
    </div>
    <div class="row p-4 bg-secondary bg-opacity-10">

        <div class="col-8">
            <h2 class="text-primary">Visi & Misi
            </h2>
            <p style="text-align: justify ;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo numquam
                nulla reiciendis voluptatum
                error consectetur perspiciatis esse, modi voluptas dignissimos sapiente recusandae iure assumenda sed
                enim doloremque! Repudiandae, cumque illum! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto a accusantium blanditiis quas magni exercitationem asperiores minus, ipsa cumque reprehenderit
                impedit recusandae modi eaque itaque culpa veniam error. Ex, qui? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maxime iusto deserunt dolores nemo in facere aliquid dignissimos vero suscipit
                commodi, laborum, temporibus, expedita exercitationem perspiciatis delectus ipsa. Omnis, et illum.</p>
        </div>
        <div class="col-4"><img
                src="https://images.pexels.com/photos/3782235/pexels-photo-3782235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="asd" style="width: 100%;"></div>
    </div>