<% layout('layouts/boilerplate') %>
    <div style=" padding: 100px; ">
        <h1 class="text-center">Solusi dari kebutuhan suply produk anda</h1>
    </div>
    <div class="d-flex justify-content-between" style="margin-bottom:30px ;">
        <div class="card" style="width: 23rem;">
            <img src="https://images.pexels.com/photos/3823488/pexels-photo-3823488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Terpercaya</h5>
                <p class="card-text" style="text-align:justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Numquam, facere illum nisi
                    dolores at velit quis accusantium eligendi soluta minus iure nesciunt vel blanditiis! Error labore
                    assumenda tenetur sunt doloribus.</p>
                <a href="/aboutUs" class="btn btn-primary">Tentang Kami</a>
            </div>
        </div>
        <div class="card" style="width: 23rem;">
            <img src="https://images.pexels.com/photos/668196/pexels-photo-668196.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">20 Tahun Pengalaman</h5>
                <p class="card-text" style="text-align:justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Numquam, facere illum nisi
                    dolores at velit quis accusantium eligendi soluta minus iure nesciunt vel blanditiis! Error labore
                    assumenda tenetur sunt doloribus.</p>
                <a href="/whyUs" class="btn btn-primary">Kenapa Kami?</a>
            </div>
        </div>
        <div class="card" style="width: 23rem;">
            <img src="https://images.pexels.com/photos/7682340/pexels-photo-7682340.jpeg?auto=compress&cs=tinysrgb&w=1600"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Pelayanan yang menyenangkan</h5>
                <p class="card-text" style="text-align:justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Numquam, facere illum nisi
                    dolores at velit quis accusantium eligendi soluta minus iure nesciunt vel blanditiis! Error labore
                    assumenda tenetur sunt doloribus.</p>
                <a href="/whyUs" class="btn btn-primary">Kenapa Kami?</a>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between" style="margin-bottom:30px ;">
        <div class="card" style="width: 23rem;">
            <img src="https://images.pexels.com/photos/7195232/pexels-photo-7195232.jpeg?auto=compress&cs=tinysrgb&w=1600"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Punya lebih dari 100 Produk</h5>
                <p class="card-text" style="text-align:justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Numquam, facere illum nisi
                    dolores at velit quis accusantium eligendi soluta minus iure nesciunt vel blanditiis! Error labore
                    assumenda tenetur sunt doloribus.</p>
                <a href="/product" class="btn btn-primary">Lihat Produk Kami</a>
            </div>
        </div>
        <div class="card" style="width: 23rem;">
            <img src="https://images.pexels.com/photos/4386339/pexels-photo-4386339.jpeg?auto=compress&cs=tinysrgb&w=1600"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Harga yang sempurna untuk BisnisMu!</h5>
                <p class="card-text" style="text-align:justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Numquam, facere illum nisi
                    dolores at velit quis accusantium eligendi soluta minus iure nesciunt vel blanditiis! Error labore
                    assumenda tenetur sunt doloribus.</p>
                <a href="/whyUs" class="btn btn-primary">Kenapa Kami?</a>
            </div>
        </div>
        <div class="card" style="width: 23rem;">
            <img src="https://images.pexels.com/photos/3823488/pexels-photo-3823488.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tertarik?</h5>
                <p class="card-text" style="text-align:justify;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Numquam, facere illum nisi
                    dolores at velit quis accusantium eligendi soluta minus iure nesciunt vel blanditiis! Error labore
                    assumenda tenetur sunt doloribus.</p>
                <a href="/contact" class="btn btn-primary">Kontak</a>
            </div>
        </div>
    </div>
    <div style="padding: 100px;">
        <h1 class="text-center mb-5">Punya pertanyaan lebih lanjut?</h1>
        <div class=" d-flex justify-content-center">
            <a href="/contact" class="btn btn-primary">Hubungi Kami</a>
        </div>
    </div>