<% layout('layouts/boilerplate') %>

    <div style=" padding: 100px; ">
        <h1 class="text-center" style="font-size: 60px ;">Produk Kami</h1>
    </div>
    <div class="d-flex justify-content-between" style="margin-bottom:30px ;">
        <div class="card" style="width: 18rem;">
            <img src="https://kampungdesigner.com/wp-content/uploads/edd/2020/06/Logo-Wings-Food-by-kampungdesigner.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center fw-bold ">Wings Group</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://pbs.twimg.com/profile_images/1282627954422321153/gFfiwjGI_400x400.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center fw-bold">Sido Muncul</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://pngimage.net/wp-content/uploads/2018/06/sampoerna-logo-png-4.png" class="card-img-top"
                alt="...">
            <div class="card-body">
                <p class="card-text text-center fw-bold">Sampoerna</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://kampungdesigner.com/wp-content/uploads/edd/2020/06/Logo-Gudang-Garam-by-kampungdesigner.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center fw-bold">Gudang Garam</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between" style="margin-bottom:30px ;">
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/736x/21/43/a1/2143a15045cdf8c6206f7a926fa03e41--unilever-logo-corporate-identity.jpg"
                class="card-img-top p-4" alt="...">
            <div class="card-body">
                <p class="card-text text-center fw-bold ">Unilever</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://1000logos.net/wp-content/uploads/2017/03/Nestle-Logo.png" class="card-img-top p-4"
                alt="...">
            <div class="card-body">
                <p class="card-text text-center fw-bold">Nestle</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Sosro.svg" class="card-img-top p-4" alt="...">
            <div class="card-body">
                <p class="card-text text-center fw-bold">Sosro</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://kampungdesigner.com/wp-content/uploads/edd/2020/06/Logo-Indofood-by-kampungdesigner.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text text-center fw-bold">Indofood</p>
            </div>
        </div>
    </div>