<% layout('layouts/boilerplate') %>
    <div style=" padding: 100px; ">
        <h1 class="text-center">Kenapa memilih kami sebagai suplier?</h1>
    </div>
    <div class="row p-4">
        <div class="col-4"><img
                src="https://images.pexels.com/photos/4386431/pexels-photo-4386431.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="asd" style="width: 100%;"></div>
        <div class="col-8">
            <h2 class="text-primary">Harga Terbaik Untuk Produk yang Kami Tawarkan
            </h2>
            <p style="text-align: justify ;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo numquam
                nulla reiciendis voluptatum
                error consectetur perspiciatis esse, modi voluptas dignissimos sapiente recusandae iure assumenda sed
                enim doloremque! Repudiandae, cumque illum! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto a accusantium blanditiis quas magni exercitationem asperiores minus, ipsa cumque reprehenderit
                impedit recusandae modi eaque itaque culpa veniam error. Ex, qui? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maxime iusto deserunt dolores nemo in facere aliquid dignissimos vero suscipit
                commodi, laborum, temporibus, expedita exercitationem perspiciatis delectus ipsa. Omnis, et illum.</p>
        </div>
    </div>
    <div class="row p-4 bg-secondary bg-opacity-10">

        <div class="col-8">
            <h2 class="text-primary">Pelayanan yang cepat dan menyenangkan
            </h2>
            <p style="text-align: justify ;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo numquam
                nulla reiciendis voluptatum
                error consectetur perspiciatis esse, modi voluptas dignissimos sapiente recusandae iure assumenda sed
                enim doloremque! Repudiandae, cumque illum! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto a accusantium blanditiis quas magni exercitationem asperiores minus, ipsa cumque reprehenderit
                impedit recusandae modi eaque itaque culpa veniam error. Ex, qui? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maxime iusto deserunt dolores nemo in facere aliquid dignissimos vero suscipit
                commodi, laborum, temporibus, expedita exercitationem perspiciatis delectus ipsa. Omnis, et illum.</p>
        </div>
        <div class="col-4"><img
                src="https://images.pexels.com/photos/4393426/pexels-photo-4393426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="asd" style="width: 100%;"></div>
    </div>
    <div class="row p-4">
        <div class="col-4"><img
                src="https://images.pexels.com/photos/3778966/pexels-photo-3778966.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="asd" style="width: 100%;"></div>
        <div class="col-8">
            <h2 class="text-primary">Telah berpengalaman lebih dari 20 tahun
            </h2>
            <p style="text-align: justify ;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo numquam
                nulla reiciendis voluptatum
                error consectetur perspiciatis esse, modi voluptas dignissimos sapiente recusandae iure assumenda sed
                enim doloremque! Repudiandae, cumque illum! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Iusto a accusantium blanditiis quas magni exercitationem asperiores minus, ipsa cumque reprehenderit
                impedit recusandae modi eaque itaque culpa veniam error. Ex, qui? Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Maxime iusto deserunt dolores nemo in facere aliquid dignissimos vero suscipit
                commodi, laborum, temporibus, expedita exercitationem perspiciatis delectus ipsa. Omnis, et illum.</p>
        </div>
    </div>